p {
    font-family: Verdana;
    color: red;
}

.div1 {
    background-color: lightblue;
    width: 300px;
    border: 15px solid lightcoral;
    padding: 50px;
    margin: 20px;
    padding-top: 20px;
    padding-right: 50px; ;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.div2 {
    width:320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

.secondParagraph {
    color: green;
}

#firstParagraph {
    color: blue
}



